<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/pied-piper-hat.svg' %}">
</head>
<body>
    <header class="header">
        <img class="logo" src="{% static 'images/pied-piper-hat.svg' %}">
    </header>
    <main class="main">
        <div class="drop-area">
            <img class="drag-icon" src="{% static 'images/drag-and-drop.png' %}">
            <p>{{ drag_n_drop }}</p>
        </div>
        <button class="dft-btn btn">{{ btn_seg }}</button>
    </main>
</body>
</html>
