*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background-color: #f9f9f9;
    min-height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

img,
picture,
video,
svg {
    display: block;
    max-width: 100%;
}

h1 {
    text-wrap: balance;
}

p,
li {
    max-width: 65ch;
    text-wrap: pretty;
    list-style: none;
}

a {
    color: inherit;
}

.header {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}

.logo {
    max-width: 10rem;
}

.main {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.drag-icon {
    max-width: 6rem;
}

.drop-area {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8EFEE;
    color: #156d66;
    padding: 5rem 10rem;
    border-radius: 6px;
    transition: all 0.2s ease-out;
}

.drop-area:hover {
    filter: brightness(95%)
}


.dft-btn {
    background: none;
    outline: none;
    border: none;
}

.btn {
    cursor: pointer;
    margin: 1rem 0;
    border-radius: 6px;
    padding: 0.5rem 5rem;
    background-color: #156d66;
    color: #e8efee;
}

.btn:active {
    background-color: #0B524E;
}
