.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

.dropArea {
    max-width: 20vw;
    height: 13vw;
    border: 3px dashed black;
    background-color: #64B754;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font: kanit;
    font-weight: 600;


    
}

.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
}

.NotDropArea{
    border: 3px solid #396D2F;
    background-color: white;
    border-radius: 15px;
    color: #396D2F;
    width: 50vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font: kanit;
    font-weight: 600;
    

}