.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

.trp {
    font-size: 20px;
    font-weight: 600;
    font-family: kanit;
    padding-top: 20px;
}

.cost {
    font-size: 20px;
    font-family: kanit;
    font-weight: 600;
    padding-top: 10px;

}



